<?php

$key = '$TRELLO_API_KEY';
$application_token = '$TRELLO_APP_TOKEN';
$backup_closed_boards = false;
$backup_all_organization_boards = false;
$backup_attachments = true;
$path = '/usr/src/script/backup';
$proxy= '';
$ignore_boards = array('Welcome Board', 'Using Trello as a Zettel Note Archive');
$boards_to_download = array();
$filename_append_datetime = false;
$timezone = 'UTC';
